html {
    width: 100%;
    font-size: 30px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: inherit;
    background-color: #23272A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    width: 360px;
    background: #fff;
    color: input-text-color;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
}

.search-button {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
}

input[type="text"]
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  
}

.search-button {
	background-color:#2C2F33;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:26px;
	padding:17px 31px;
    text-decoration:none;
    height: 84px;
}
.search-button:hover {
	background-color: #7289DA;
}

/* .episodeSelection {
	background-color:#2C2F33;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:26px;
	padding:17px 31px;
    text-decoration:none;
    width: 10%;
    list-style: none;
}

.episodeSelection li {
	transition: all 100ms ease-in;
}

.episodeSelection li:hover {
	background-color: #7289DA;
}

.animeSelection {
	background-color:#2C2F33;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:26px;
	padding:17px 31px;
    text-decoration:none;
    width: 50%;
    list-style: none;
}

.animeSelection li {
	transition: all 100ms ease-in;
}

.animeSelection li:hover {
	background-color: #7289DA;
} */

ul {
    counter-reset: index;  
    padding: 0;
    max-width: 300px;
  }
  
  /* List element */
  li {
    counter-increment: index; 
    display: flex;
    align-items: center;
    padding: 12px 0;
    box-sizing: border-box;
  }
  
  
  /* Element counter */
  li::before {
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, aquamarine, orangered);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  
  }
  
  
  /* Element separation */
  li + li {
    border-top: 1px solid rgba(255,255,255,0.2);
  }

@font-face {
    font-family: mainFontThin;
      src: url(./cdn/fonts/Uni\ Sans\ Heavy.otf);
}